<% include header %> 
<h1>Ajouter</h1> 
<form action="/ajouter" method="post">
<input type="text" name="libelle" id="">
<input type="text" name="qte" id="">
<input type="text" name="pu" id="">
<button type="submit">Ajouter</button>
</form>
<% include footer %> 