<% include header %> 
    <h1>Liste des Articles</h1> 
    <% for (article of articles) { %>

        <%= article.libelle %> <a href="/supprimer/<%= article.id %>">Supprimer</a> <a href="/voir/<%= article.id %>">Voir</a><br>

    <% } %>


    <a href="/ajouter">Ajouter</a> 
<% include footer %> 