<% include header %> 
    <h1>Liste des Articles</h1> 
    <% for (article of articles) { %>

        <%= article.libelle %> <%= article.qte %> <%= article.pu%> <a href="/supprimer/<%= article.id %>">Supprimer</a><br>

    <% } %>


    <a href="/ajouter">Ajouter</a> 
<% include footer %> 